body {
  margin: 0 auto;
  max-width: 850px;
  padding: 2rem;
  background-color: #dad4d3;
  color: #0c4eb9;
  text-align: left;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 2.7rem;
  margin: 0 0 1.5rem;
}

h3 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  margin: 0 0 1rem;
}

section {
  margin-bottom: 3rem;
}

p {
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

ul {
  line-height: 1.5rem;
}

a {
  color: #d97725;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul > li,
ol > li {
  position: relative;
  padding-left: 1.5em;
  margin-bottom: 0.4em;
  
}

ul > li::before,
ol > li::before {
  content: "\2014 ";
  position: absolute;
  left: 0;
}

ul li ul,
ol li ul {
  font-size: 0.5rem;
  margin: 0.5em 0;
  padding: 0;
}

ul li ul li,
ol li ul li {
  position: static;
  padding-left: 0;
  margin-bottom: 0.3em;
}

ul li ul li::before,
ol li ul li::before {
  content: none;
}

#schedule ol {
  list-style: decimal outside;
  column-count: 2;
  column-gap: 4rem; 
  column-fill: auto;
  padding-right: 2rem;
  font-size: 0.9rem;
  line-height: 0.95rem;
  margin: 0;
  padding: 1rem;
}

#schedule ol li {
  position: static;
  padding-left: 0;
  margin-bottom: 1.25em;
}

#schedule ol li::before {
  content: none;
}

#schedule ol li ul {
  font-size: 0.8rem;
  line-height: 0.85rem;
}

#schedule ol li > ul {
  margin-top: 0.2em;
  padding-top: 0.4rem;
  border-top: 1px solid #0c4eb9; 
  width: 100%;                  
  box-sizing: border-box;       
}

#schedule ol li ul li {
  margin-bottom: 0.3em;
}

#schedule ol li:nth-child(10) {
  break-before: column; 
}

footer {
  text-align: center;
  margin: 2rem 0;
  font-size: 0.8rem;
}

iframe[data-tally-src] {
  margin-left: -9px !important;
}

iframe[data-tally-src] {
  margin-left: -11 !important;
}

.highlight {
  background-color: #fff;  
  padding: 0.077em 0.1em;    
  border-radius: 0.05em;  
}

@media (max-width: 600px) {
  header h1 {
    font-size: 2rem; 
  }
  
  #schedule ol {
    -webkit-column-count: 1 !important;
    column-count: 1 !important;
    -webkit-column-gap: 0 !important;
    column-gap: 0 !important;
    font-size: 0.8rem;
    line-height: 0.85rem;
  }
  
  #schedule ol li:nth-child(10) {
    break-before: auto !important;
    -webkit-column-break-before: auto !important;
  }

  #schedule ol li ul {
    font-size: 0.7rem;
    line-height: 0.75rem;
  }
  
}
